.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

.link {
  color: #2f80ed;
  text-decoration: none;
}

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  display: flex;
  position: relative;
  background-color: #f2f2f2;
}

.logo_place_header {
  position:absolute;
  z-index: 1;
  top:30px;
  left: 64px;
  width: 183px;
  height: 32px;
}

.logo_place_footer {
  width: 183px;
  height: 35px;
}

.header__title {
  width: 730px;
  line-height: 96px;
  font-size: 102px;
  font-weight: bold;
  align-self: center;
  z-index: 1;
  padding-left: 64px;
  margin: 0;
}

.header__subtitle {
  width: 388px;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  position:absolute;
  left: 64px;
  bottom: 30px;
  z-index: 1;
  margin: 0;
}

.header__image {
  width: 765px;
  height: 608px;
  position:absolute;
  right: 0;
  bottom: 0;
  z-index: 1;
}

.header__square-pic {
  height: 568px;
  width: 568px;
  background-color: #2f80ed;
  position:absolute;
  right: 0;
  margin-top: 64px;
}

.two-columns {
  padding-top: 100px;
  display:flex;
  margin: auto;
  justify-content: space-between;
  width: 80%;
  min-height: 100%;
}

.two-columns__brief {
  margin: 0;
  width: 175px;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
}

.two-columns__main-text {
  width: 80%;
  min-width: 784px;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.paragraph {
  margin: 0 auto;
  padding-bottom: 30px;
}
.paragraph:last-of-type {
  padding-bottom: 0;
}

.span-accent {
  line-height: 34px;
  font-size: 24px;
  font-weight: bold;
}

.digits {
  padding: 100px 0 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section__title {
  margin: 0 0 20px;
  width: 60%;
  text-align: center;
  line-height: 1.2;
  font-size: 60px;
  font-weight: bold;
}

.section__title_feynman {
  margin-bottom: 70px;
  width: 648px;
  line-height: 1.15;
  font-size: 120px;
  z-index: 1;
}

.section__title_theme_dark {
  color: #f2f2f2;
  line-height: 1.15;
  z-index: 1;
}

.section__subtitle {
  margin: 0;
  width: 60%;
  text-align: center;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.section__subtitle_feynman {
  line-height: 51px;
  font-size: 36px;
  z-index: 1;
}

.section__subtitle_theme_dark {
  color: #f2f2f2;
  z-index: 1;
}

.table {
  margin: 0 auto;
  padding: 0;
  list-style: none;
  width: 1110px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  z-index: 1;
}

.table__cell {
  width: 250px;
  padding-top: 60px;
}
.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
}

.table__heading {
  margin: 0;
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
}

.table__text {
  margin: 0;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  padding-top: 20px;
}

.feynman {
  padding-top: 100px;
  background-color: #f2f2f2;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  box-sizing: border-box;
  height: 890px;
}

.feynman_image {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 0;
  height: 637px;
  width: 867px;
}

.link_feynman {
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  position: absolute;
    right:48px;
    top: 50%;
  z-index: 1;
}

.kaufman {
  padding: 90px 0 90px;
  background-color: #1f1f1f;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  position: relative;
}

.kaufman__triangle {
  position: absolute;
  right: -210px;
  top:0;
  width: 877px;
	height: 877px;
}

.footer {
  min-height: 350px;
  box-sizing: border-box;
  background-color: #1f1f1f;
}

.footer__columns {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: 0 auto;
  padding: 60px 0 40px;
}

.footer__column {
  font-size: 18px;
  font-weight: normal;
  color: #f2f2f2;
}

.footer__column_content_copyright {
  display: flex;
  flex-direction: column;
  flex-basis: 711px;
  justify-content: space-between;
  align-items: stretch;
}

.footer__column_content_info {
  display: flex;
  flex-direction: column;
}

.footer__column_content_social {
  display: flex;
  flex-direction: column;
}

.column-links {
  display: flex;
  flex-direction: column;
  margin: 20px 0 16px;
}

.column-heading {
  margin: 0;
  line-height: 30px;
  font-size: 18px;
  font-weight: bold;
}

.column-link {
  line-height: 30px;
  font-size: 18px;
  font-weight: normak;
  color: #f2f2f2;
  text-decoration: none;
}

.social-icon {
  margin-right: 10px;
  width: 16px;
  height: 16px;
}
